@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.featureImage {
  height: 200px;
  width: 200px;
}

.indexCtasGitHubButton {
  border: none;
  margin-left: 24px;
  overflow: hidden;
}

.container {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto 40px;
  padding: 60px 0;
}

.slogan {
  padding: 50px 0;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.2;
}

.red {
  color: #fc8181;
}

.green {
  color: var(--ifm-color-primary);
}

.side {
  font-size: 18px;
}

.wrapLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0 2rem;
  margin-bottom: 40px;
}
