@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}


.featureImage {
  height: 200px;
  width: 200px;
}

.indexCtasGitHubButton {
  border: none;
  margin-left: 24px;
  overflow: hidden;
}