/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  /* --ifm-color-primary: #e96900; */
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-shadow: none;
  --ifm-toc-border-color: white;
}

.footer--dark {
  --ifm-footer-background-color: #000;
}

html {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important; */
}

body {

  font-size: 17px !important;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.btn {
  padding: 15px;
  color: #000;
  background: none;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.btn-active {
  color: #fff;
  background: #276ef1;
}

code {
  vertical-align: middle;
  background-color: rgb(100, 100, 100, 0.05);
  border-radius: 2px;
  color: #e96900;
  font-size: 0.9em !important;
}

.admonition h5 {
  color: white !important;
}

table {
  display: table;
  width: 100%;
}

.navbar--fixed-top {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.react-toggle {
  display: none !important;
}

.row {
  flex-wrap: wrap;
  margin-left: 0 !important;
  margin-right: 0 !important;
}