/* @media (min-width: 1024px) {
  .sm.md.lg.text8XL--lg {
    font-size: 96px;
  }
}

@media (min-width: 640px) {
  .sm.textXL--sm {
    font-size: 20px;
  }
}


.textSM {
  font-size: 14px;
}

@media (min-width: 768px) {
  .sm.md.text4XL--md {
    font-size: 36px;
  }
} */