.title {
  margin-bottom: 30px;
}

.colorList {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.colorItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 33.3333333333333333333333%;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 8px;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.value {
  font-size: 16px;
  font-size: 14px;
  opacity: .75;
}